@layer components {
  .card {
    @apply shadow-md
      hover:shadow-lg
      dark:shadow-none;

    @apply bg-card dark:bg-card;

    @apply border-2
      border-dashed
      border-transparent
      hover:border-accent
      dark:border-solid
      dark:hover:border-dashed
      dark:border-border
      dark:hover:border-border;

    @apply transition-all duration-300;

    @apply rounded p-4;
  }

  .card-title {
    @apply text-card-foreground;
    font-weight: 600;
    transition: all 0.15s ease;
  }

  .card-meta {
    @apply text-muted-foreground;
    font-size: 0.8em;
    padding-top: 0.25rem;
  }
}
