@layer components {
  footer.footer {
    @apply container pt-20 pb-4 mx-auto content-center px-4 sm:px-8 lg:px-16 xl:px-20 2xl:px-24;

    ul {
      @apply list-none p-0 flex justify-center gap-6;
    }
  }
}
