@layer components {
  .post-container {
    @apply my-0 mx-auto px-4 py-0 sm:px-8 sm:py-0 max-w-full xl:max-w-screen-xl flex flex-col;

    p {
      margin-bottom: 2rem;
    }
  }

  .article {
    @apply max-w-[800px] my-0 mx-auto w-full;
  }

  .post-title {
    font-size: 2.8em;
  }

  .post-publishDate,
  .post-readingTime,
  .post-tags {
    font-size: 0.8em;
    font-weight: 300;
  }

  .post-tags {
    display: inline-block;
    font-size: 0.8em;
    /* padding: 0.05rem 0.5rem; */
  }

  hr.post-separator {
    @apply border-t-2 border-cerulean-200;
    margin: 0.5rem 0 1.5rem 0;
  }

  .post-content {
    h2 {
      font-size: 1.5em;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.25em;
      margin-bottom: 0.85rem;
    }
  }
}
