@tailwind base;
@tailwind components;
@tailwind utilities;

body, body > div {
  min-height: 100vh;
}

body > div {
  display: flex;
  flex-direction: column;
}

main {
  max-width: none !important;
  padding-top: 3rem;
}

.link-underline {
  color: inherit;
  text-decoration: underline 0.123em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.link-underline:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

@layer components {

  .icon-github {
    @apply hover:text-github transition-colors duration-200
  }
  .icon-linkedin {
    @apply hover:text-linkedin transition-colors duration-200
  }
  .icon-twitter {
    @apply hover:text-twitter transition-colors duration-200
  }
}
