@import './components/index.css';
@import './pages/index.css';
@import './layouts/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    'Helvetica Neue', Arial, sans-serif, 'apple color emoji', 'segoe ui emoji',
    'segoe ui symbol';
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white dark:bg-gray-700;
    @apply text-gray-900 dark:text-gray-50;
    @apply min-h-screen;
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    @apply container min-h-full w-full;
    @apply my-0 mx-auto;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #2d333b;
    color: rgb(229, 192, 123);
    border-radius: 6px;
    margin-bottom: 2rem;
  }
}

@layer components {
  .center-content {
    @apply py-0 px-8;
  }

  .link-underline {
    @apply hover:decoration-solid hover:decoration-4 hover:decoration-black hover:dark:decoration-white;
    color: inherit;
    text-decoration: underline 0.123em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
  }

  .link-underline:hover {
    /* text-decoration-color: rgba(0, 0, 0, 1); */
  }
}
