@import './components/index.css';
@import './pages/index.css';
@import './layouts/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica,
    Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  display: block;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
body > div {
  min-height: 100vh;
}

body > div {
  display: flex;
  flex-direction: column;
}

main {
  max-width: none !important;
}

.link-underline {
  color: inherit;
  text-decoration: underline 0.123em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.link-underline:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #2d333b;
  color: rgb(229, 192, 123);
  border-radius: 6px;
  margin-bottom: 2rem;
}

.center-content {
  @apply py-0 px-8;
  /* 0 32 */
}
