.container {
  padding: 2.5rem 3.5rem;
}

.title {
  font-size: 2.8em;
}

.publishDate {
  font-size: .8em;
  font-weight: lighter;
}

.tags {
  // border: 1px solid #eaeaea;
  // border-radius: 8px;
  display: inline-block;
  padding: .05rem .5rem;
  // background-color: darken(#eaeaea, 7);
}

hr.separator {
  border-top-width: 2px;
  color: #1b8dda;
  margin: .5rem 0 1.5rem 0;
}

.content {
  h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 2rem;
  }
}
