.container {
  padding: 2.5rem 3.5rem;
}

.title {
  font-size: 2.8em;
}

.publishDate {
  font-size: 0.8em;
  font-weight: 300;
}

.tags {
  display: inline-block;
  padding: 0.05rem 0.5rem;
}

hr.separator {
  border-top-width: 2px;
  color: #1b8dda;
  margin: 0.5rem 0 1.5rem 0;
}

.content h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }

.container p {
  margin-bottom: 2rem;
}

